.blockTile {
  display: flex;
  flex-wrap: nowrap;

  .handler {
    width: 16px;
    height: 16px;
    height: 16px;
    cursor: grab;
    margin-top: 4px;
    margin-right: 6px;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    :global {
      [data-drag-handle] {
        height: 16px;
        cursor: grab;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  .content {
    flex: 1;

    > :first-child {
      margin-top: 0;
    }
  }
}
